.status-indicator {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.status-active {
    background-color: #28a745;
    /* Green */
    box-shadow: 0 0 5px #28a745;
}

.status-distracted {
    background-color: #ffc107;
    /* Yellow */
    box-shadow: 0 0 5px #ffc107;
}

.status-asleep {
    background-color: #dc3545;
    /* Red */
    box-shadow: 0 0 5px #dc3545;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
    }
}